header{
    position: fixed;
    background-image: url(../img/BgChallenges.jpg);
}
header .container{
    background-color: rgba(0, 0, 0, 0.5);
}
header .banner{
    text-align: left;
}
footer{
    display: none;
}