header{
    background-image: url(../img/BgHome.jpg);
}
.banner-small{
    margin-bottom: 0;
}

@media (max-width:720px){
    header{
        background-image: url(../img/BgHomeSm.jpg);
    }
}

section{
    padding: 100px 0;
}
#shop{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/HomeStore.png);
    background-position: left bottom;
}
#challenges{
    color: white;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/HomeChallenges.jpg);
    background-position: right bottom;
}
.bgWhite{
    background-color: rgba(255,255,255,0.7);
}
.bgBlack{
    background-color: rgba(0,0,0,0.7);
}
.imgC{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:0 0 0 .2rem rgba(255,255,255,0.7);
}
#imgC1{
    background-image: url(../img/BgChallenges.jpg);
}
#imgC2{
    background-image: url(../img/BgChallenges.jpg);
}
#imgC3{
    background-image: url(../img/BgChallenges.jpg);
}