header{
    color: white;
    position: relative;
    width: 100%;
    min-height: 95%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/BgHome.jpg);
}
header .intro{
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}
header .intro .intro-logo img{
    width: 90%;
}
header .intro .intro-text{
    font-size:70px;
    font-weight:700;
    margin: auto 0;
}
header .intro .intro-text a{
    font-size:40px;
    font-weight:100;
    color: white;
}
header .intro .intro-text a:hover{
    color: white;
    text-decoration: none;
    opacity: 0.5;
}
header .intro .intro-text a:focus{
    color: white;
    outline: none;
    opacity: 0.5;
}
header .intro .intro-text a h1:hover{
    opacity: 0.5;
}
header .intro .intro-text a h1:focus{
    opacity: 0.5;
}

@media (max-width:720px){
    header{
        background-image: url(../img/BgHomeSm.jpg);
    }
    header .intro{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    header .intro .intro-text{
        font-size:40px;
        font-weight:700;
        margin-bottom:25px;
    }
    header .intro .intro-text h1{
        font-size:20px;
        margin-bottom:10px;
    }
}