/* Body */
html, body{
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Nav */
.navbar-default {
    background-color: black;
}
.navbar-default .navbar-nav .nav-link{
    color: white;
}
.navbar-default .navbar-nav .nav-link:hover{
    color: white;
}
.navbar-default .navbar-nav .nav-link:focus{
    color: white;
}
.navbar-toggler-icon{
    color: white;
}

.navbar-default .navbar-nav .nav-ani{
    border-bottom: solid 2px rgb(0,0,0,0);
    padding: 0 .5rem;
    margin: .5rem 0;
    
    transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav .nav-ani:hover{
    border-bottom: solid 2px white;
    padding: .4rem .5rem;
    margin: 0 0;
}
.navbar-default .navbar-nav .nav-ani:focus{
    outline: none;
    border-bottom: solid 2px white;
    padding: .4rem .5rem;
    margin: 0 0;
}

.navbar-brand{
    color: white;
    transition: all 0.3s ease-in-out;
    padding-bottom: 0px;
}
.navbar-brand:hover{
    color: white;
    opacity: 0.5;
}
.navbar-brand:focus{
    color: white;
    opacity: 0.5;
    outline: none;
}

/* Header/Banner */
header{
    color: white;
    position: relative;
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}
.banner-logo img{
    width: 90%;
}
.banner-text{
    font-size: 70px;
    font-weight: 700;
    margin: auto 0;
}
.banner-small{
    font-size:35px;
    font-weight: 1;
}
.banner-link{
    font-size:35px;
    font-weight: 1;
    color: white;
    
    transition: all 0.3s ease-in-out;
}
.banner-link:hover{
    color: white;
    text-decoration: none;
}
.banner-link:focus{
    color: white;
    outline: none;
}
.banner-link p:hover{
    opacity: 0.5;
}
.banner-link p:focus{
    opacity: 0.5;
}

@media (max-width:720px){
    .banner{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .banner-text{
        font-size:40px;
        font-weight:700;
        margin-bottom:25px;
    }
    .banner-text h1{
        font-size:20px;
        margin-bottom:10px;
    }
}

/* Buttons */
.btn-primary{
    color: black;
    padding: 5px 40px;
    font-weight: 700;
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
}
.btn-primary:hover{
    color: white;
    background-color: black;
    border: 2px solid black;
    box-shadow:0 0 0 .2rem rgba(0,0,0,.3);
}
.btn-primary:focus{
    color: white;
    background-color: black;
    border: 2px solid black;
    box-shadow:0 0 0 .2rem rgba(0,0,0,.3);
}
.btn-secondary{
    color: white;
    padding: 5px 40px;
    font-weight: 700;
    background-color: black;
    border: 2px solid white;
    border-radius: 0;
}
.btn-secondary:hover{
    color: black;
    background-color: white;
    border: 2px solid white;
    box-shadow:0 0 0 .2rem rgba(0,0,0,.3);
}
.btn-secondary:focus{
    color: black;
    background-color: white;
    border: 2px solid white;
    box-shadow:0 0 0 .2rem rgba(0,0,0,.3);
}