/* Body */
html, body{
    width: 100%;
    height: 100%;
}

/* Nav */
.navbar-default {
    background-color: black;
}
.navbar-default .navbar-nav .nav-link{
    color: white;
}
.navbar-default .navbar-nav .nav-link:hover{
    color: white;
}
.navbar-default .navbar-nav .nav-link:focus{
    color: white;
}
.navbar-toggler-icon{
    color: white;
}

.navbar-default .navbar-nav .nav-ani{
    border-bottom: solid 2px rgb(0,0,0,0);
    padding: 0 .5rem;
    margin: .5rem 0;
    
    transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav .nav-ani:hover{
    border-bottom: solid 2px white;
    padding: .4rem .5rem;
    margin: 0 0;
}
.navbar-default .navbar-nav .nav-ani:focus{
    outline: none;
    border-bottom: solid 2px white;
    padding: .4rem .5rem;
    margin: 0 0;
}

.navbar-brand{
    color: white;
    transition: all 0.3s ease-in-out;
    padding-bottom: 0px;
}
.navbar-brand:hover{
    color: white;
    opacity: 0.5;
}
.navbar-brand:focus{
    color: white;
    opacity: 0.5;
    outline: none;
}