header{
    background-image: url(../img/BgShop.jpg);
}
header .btn-secondary{
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
}
header .btn-secondary:hover{
    background-color: rgba(255,255,255,0.5);
}
header .btn-secondary:focus{
    background-color: rgba(255,255,255,0.5);
}